.navigation
  &__filter-column
    margin-right: 20px
    & > select
      padding: 4px 10px
      outline: none
      cursor: pointer

  &__filter-search
    display: flex
    flex-direction: row
    margin-right: 20px

    & > input
      padding: 4px 10px
      outline: none

    & > button
      position: relative
      width: 24px
      padding: 4px 0px
      background: none
      border: 1px solid black
      border-left: none
      border-radius: 0 4px 4px 0
      box-sizing: content-box
      text-transform: uppercase
      font-weight: bold
      cursor: pointer

      &::after
        content: ''
        position: absolute
        top: 45%
        left: 5px
        width: 14px
        height: 2px
        transform: rotate(45deg)
        background: gray
      &::before
        content: ''
        position: absolute
        top: 45%
        left: 5px
        width: 14px
        height: 2px
        transform: rotate(-45deg)
        background: gray

      &:disabled
        border: 1px solid rgba(0, 0, 0, 0)
        cursor: default

        &:hover
          background: none

      &:hover
        &::after, &::before
          background: black

  &__filter-condition
    & > select
      padding: 4px 10px
      outline: none
      cursor: pointer

  &__pagination
    display: flex
    justify-content: flex-end
    width: 100%

    &-button
      &-prev
        margin-right: 10px
      &-next
        margin-left: 10px

    & > button
      padding: 4px 10px
      background: none
      border: 1px solid black
      border-radius: 4px
      box-sizing: content-box
      text-transform: uppercase
      font-weight: bold
      cursor: pointer

      &:disabled
        border: 1px solid rgba(0, 0, 0, 0)
        cursor: default

        &:hover
          background: none

      &:hover
        background: #f3f3f3

    & > select
      padding: 4px 10px
      outline: none
      cursor: pointer
